<div class="col-lg-12">
    <h3 class="box-heading">New Patient<span>Please fill out as much information as possible.</span> </h3>

    <div class="row">
        <div class="col-lg-6">
            <input type="text" name="" class="form-control custom-fild" placeholder="First Name">
            <input type="text" name="" class="form-control custom-fild" placeholder="Last Name">
            <input type="text" name="" class="form-control custom-fild" placeholder="Address">
            <input type="text" name="" class="form-control custom-fild" placeholder="City">
            <input type="text" name="" class="form-control custom-fild" placeholder="Home Phone">
            <input type="text" name="" class="form-control custom-fild" placeholder="Case Number">
            <input type="text" name="" class="form-control custom-fild" placeholder="Patient Weight">

        </div>
        <div class="col-lg-6">
            <select name="" class="form-control custom-fild custon-select">
                <option value="">Assigned Nurse</option>

            </select>
            <input type="text" name="" class="form-control custom-fild" placeholder="DOL #">
            <input type="text" name="" class="form-control custom-fild" placeholder="SSN">
            <input type="text" name="" class="form-control custom-fild" placeholder="Gender">
            <input type="text" name="" class="form-control custom-fild" placeholder="Mobile Phone">
            <input type="text" name="" class="form-control custom-fild" placeholder="Patient Height">
            <input type="text" name="" class="form-control custom-fild" placeholder="Diabetic?">
        </div>

    </div>
    <hr class="custom-line">
    <div class="row">
        <div class="col-lg-6">
            <input type="text" name="" class="form-control custom-fild" placeholder="Physician Name">
            <input type="text" name="" class="form-control custom-fild" placeholder="Phone">


        </div>
        <div class="col-lg-6">
            <input type="text" name="" class="form-control custom-fild" placeholder="Clinic Name">
            <input type="text" name="" class="form-control custom-fild" placeholder="Fax">


        </div>
    </div>
    <hr class="custom-line">
    <div class="row">
        <div class="col-lg-6">
            <input type="text" name="" class="form-control custom-fild" placeholder="Family Name">
            <input type="text" name="" class="form-control custom-fild" placeholder="Family Email">


        </div>
        <div class="col-lg-6">
            <input type="text" name="" class="form-control custom-fild" placeholder="Family Phone">
            <input type="text" name="" class="form-control custom-fild" placeholder="Relationship">

        </div>

    </div>
    <hr class="custom-line">
    <div class="row">
        <div class="col-lg-6">
            <input type="text" name="" class="form-control custom-fild" placeholder="Family Name">
            <input type="text" name="" class="form-control custom-fild" placeholder="Family Email">


        </div>
        <div class="col-lg-6">
            <input type="text" name="" class="form-control custom-fild" placeholder="Family Phone">
            <input type="text" name="" class="form-control custom-fild" placeholder="Relationship">

        </div>

    </div>
    <hr class="custom-line">
    <div class="row">
        <div class="col-lg-6">
            <input type="text" name="" class="form-control custom-fild" placeholder="Home Health Company">
            <input type="text" name="" class="form-control custom-fild" placeholder="Case Manager">
            <input type="text" name="" class="form-control custom-fild hidden" placeholder="Case Manager">


        </div>
        <div class="col-lg-6">
            <input type="text" name="" class="form-control custom-fild" placeholder="Phone">
            <input type="text" name="" class="form-control custom-fild m-0" placeholder="Phone">
            <input type="text" name="" class="form-control custom-fild border-top-0" placeholder="Email">

        </div>

    </div>

    <div class="row">
        <div class="col-lg-6">
            <input type="text" name="" class="form-control custom-fild" placeholder="Nurse">

            <input type="text" name="" class="form-control custom-fild hidden" placeholder="Case Manager">


        </div>
        <div class="col-lg-6">

            <input type="text" name="" class="form-control custom-fild m-0" placeholder="Phone">
            <input type="text" name="" class="form-control custom-fild border-top-0" placeholder="Email">

        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <input type="text" name="" class="form-control custom-fild" placeholder="CN/HHA">




        </div>
        <div class="col-lg-6">

            <input type="text" name="" class="form-control custom-fild" placeholder="Phone">


        </div>



    </div>

    <hr class="custom-line">
    <div class="row">
        <div class="col-lg-12">
            <textarea name="" class="form-control custom-fild" placeholder="Notes about Patient"></textarea>

        </div>


    </div>
    <div class="row">
        <div class="col-lg-12">
            <textarea name="" class="form-control custom-fild" placeholder="Accepted DOL Codes:"></textarea>
            <p class="instraction">Separate each code by a comma</p>

        </div>


    </div>
    <h3 class="box-heading">Documents</h3>
    <div class="row mb-3">
        <div class="col-lg-3">

        </div>

        <div class="col-lg-4">
            <div class="row">
                <div class="col text-center">
                    <span class="lvl-type"> Complete</span>
                </div>
                <div class="col text-center line-ht-adj">
                    <span class="lvl-type"> Needs
                        Update</span>
                </div>
                <div class="col text-center">
                    <span class="lvl-type"> Missing</span>
                </div>
            </div>





        </div>
        <div class="col-lg-5">

        </div>


    </div>
    <div class="row">
        <div class="col-lg-3">
            <span class="lvl-type"> Medical Release / HIPAA</span>
        </div>

        <div class="col-lg-4">
            <div class="row">
                <div class="col text-center">
                    <label class="checkbox path">
                        <input type="checkbox">
                        <svg viewBox="0 0 21 21">
                            <path
                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                            </path>
                        </svg>
                    </label>
                </div>
                <div class="col text-center">
                    <label class="checkbox path">
                        <input type="checkbox">
                        <svg viewBox="0 0 21 21">
                            <path
                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                            </path>
                        </svg>
                    </label>
                </div>
                <div class="col text-center">
                    <label class="checkbox path">
                        <input type="checkbox">
                        <svg viewBox="0 0 21 21">
                            <path
                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                            </path>
                        </svg>
                    </label>
                </div>
            </div>





        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col">
                    <input type="submit" name="" class="btn2 d-inline-block" value="UPLOAD">
                </div>
                <div class="col">
                    <input type="submit" name="" class="btn2 d-inline-block" value="FORM">
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-lg-3">
            <span class="lvl-type"> Plan of Care</span>
        </div>

        <div class="col-lg-4">
            <div class="row">
                <div class="col text-center">
                    <label class="checkbox path">
                        <input type="checkbox">
                        <svg viewBox="0 0 21 21">
                            <path
                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                            </path>
                        </svg>
                    </label>
                </div>
                <div class="col text-center">
                    <label class="checkbox path">
                        <input type="checkbox">
                        <svg viewBox="0 0 21 21">
                            <path
                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                            </path>
                        </svg>
                    </label>
                </div>
                <div class="col text-center">
                    <label class="checkbox path">
                        <input type="checkbox">
                        <svg viewBox="0 0 21 21">
                            <path
                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                            </path>
                        </svg>
                    </label>
                </div>
            </div>





        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col">
                    <input type="submit" name="" class="btn2 d-inline-block" value="UPLOAD">
                </div>
                <div class="col">
                    <input type="submit" name="" class="btn2 d-inline-block" value="FORM">
                </div>
            </div>
        </div>


    </div>






    <div class="row">
        <div class="col-lg-3">
            <span class="lvl-type"> Case Management Form</span>
        </div>

        <div class="col-lg-4">
            <div class="row">
                <div class="col text-center">
                    <label class="checkbox path">
                        <input type="checkbox">
                        <svg viewBox="0 0 21 21">
                            <path
                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                            </path>
                        </svg>
                    </label>
                </div>
                <div class="col text-center">
                    <label class="checkbox path">
                        <input type="checkbox">
                        <svg viewBox="0 0 21 21">
                            <path
                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                            </path>
                        </svg>
                    </label>
                </div>
                <div class="col text-center">
                    <label class="checkbox path">
                        <input type="checkbox">
                        <svg viewBox="0 0 21 21">
                            <path
                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                            </path>
                        </svg>
                    </label>
                </div>
            </div>





        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col">
                    <input type="submit" name="" class="btn2 d-inline-block" value="UPLOAD">
                </div>
                <div class="col">
                    <input type="submit" name="" class="btn2 d-inline-block" value="FORM">
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-lg-3">
            <span class="lvl-type"> Draft of LMN Form</span>
        </div>

        <div class="col-lg-4">
            <div class="row">
                <div class="col text-center">
                    <label class="checkbox path">
                        <input type="checkbox">
                        <svg viewBox="0 0 21 21">
                            <path
                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                            </path>
                        </svg>
                    </label>
                </div>
                <div class="col text-center">
                    <label class="checkbox path">
                        <input type="checkbox">
                        <svg viewBox="0 0 21 21">
                            <path
                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                            </path>
                        </svg>
                    </label>
                </div>
                <div class="col text-center">
                    <label class="checkbox path">
                        <input type="checkbox">
                        <svg viewBox="0 0 21 21">
                            <path
                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                            </path>
                        </svg>
                    </label>
                </div>
            </div>





        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col">
                    <input type="submit" name="" class="btn2 d-inline-block" value="UPLOAD">
                </div>
                <div class="col">
                    <input type="submit" name="" class="btn2 d-inline-block" value="FORM">
                </div>
            </div>
        </div>


    </div>

</div>

<router-outlet></router-outlet>