<!-- <div class="container"> -->
<!-- <div class="row"> -->
<!-- <div class="col-lg-3"> -->
<div class="white-wrapper">
    <h3 class="box-heading-profile-name"><img src="assets/img/no-user-image-icon.jpg" class="profile-image">
        Michael Scott</h3>
    <ul class="left-side-pannel">
        <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-th-large" aria-hidden="true"></i>
                Dashboard</a></li>
        <li><a routerLink="/nurse-manager" routerLinkActive="active"><i class="fa fa-users" aria-hidden="true"></i>
                Nurse manager</a></li>
        <li><a routerLink="/patients" routerLinkActive="active"><i class="fa fa-file" aria-hidden="true"></i> Patients</a></li>
        <li><a routerLink="/traffic-analyzer" routerLinkActive="active"><i class="fa fa-map" aria-hidden="true"></i>Traffic analyzer</a></li>
        <li><a routerLink="/calender" routerLinkActive="active"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</a>
        </li>
        <li><a routerLink="/messages" routerLinkActive="active"><i class="fa fa-comments" aria-hidden="true"></i> Messages</a>
        </li>
        <li><a routerLink="/settings" routerLinkActive="active"><i class="fa fa-cog" aria-hidden="true"></i>
                Settings<span>8</span></a></li>
        <li><a routerLink="/logout" routerLinkActive="active"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a>
        </li>
    </ul>
</div>
<!-- </div> -->
<!-- </div> -->

<!-- </div> -->`