<!-- <div class="container">-->


  <div class="row"> 
   
    <div class="col-lg-8">
      <div class="white-wrapper">
        <h3 class="box-heading2">New Patients<img src="assets/img/arrow.png" class="float-right"> </h3>
        <img src="assets/img/graph.png" class="img-fluid">
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="white-wrapper">
            <h3 class="box-heading">Today’s Events <img src="assets/img/arrow.png" class="float-right"></h3>

          </div>
        </div>
        <div class="col-lg-6">
          <div class="white-wrapper">
            <h3 class="box-heading">Notes <img src="assets/img/arrow.png" class="float-right"></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="white-wrapper">
        <h3 class="box-heading">Calendar<img src="assets/img/arrow.png" class="float-right"></h3>
        <img src="assets/img/calender.png" class="img-fluid">
      </div>
      <div class="white-wrapper">
        <h3 class="box-heading">To do list <img src="assets/img/arrow.png" class="float-right"></h3>
        <img src="assets/img/todo.png" class="img-fluid">
      </div>
    </div>
  </div>
 
<!-- </div> -->