<div class="col-lg-12">
  <div class="white-wrapper">
    <h3 class="box-heading">Patient Manager<img src="assets/img/arrow2.png" class="float-right"> </h3>
    <!-- <img src="assets/img/nurse.png" class="img-fluid"> -->

    <div style="width:100%;background-color:red;height:50px">
      <button mat-raised-button color="primary" routerLink='/new-patient' >Primary</button>
      <button type="button" routerLink='/new-patient'>+</button>
      <!-- <router-outlet></router-outlet> -->
    </div>


  
  </div>
</div>