<div class="col-lg-12">
    <div class="white-wrapper">
<h3 class="box-heading">New Message<img src="assets/img/arrow2.png" class="float-right"> </h3>
<div class="row">
<div class="col-lg-6">
<div class="blue-box">
        <label>To:</label>
        <input type="text" class="border-0 invisible-fild">
</div>
<div class="blue-box">
        <label>CC:</label>
        <input type="text" class="border-0 invisible-fild">
</div>
<div class="blue-box">
        <label>Subject:</label>
        <input type="text" class="border-0 invisible-fild">
</div>
</div>
<div class="col-lg-6">
</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12 blue-border">
            <div class="row">
            <div class="col-lg-8">
                <textarea name="" class="big-t-area"></textarea>
            </div>
            <div class="col-lg-4 mt-3 other-chbox">
                 <label class="checkbox path float-left">
<input type="checkbox">
<svg viewBox="0 0 21 21">
    <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
</svg>

</label>

<label class="lb-txt">Urgent</label>
<div class="clearfix"></div>
<label class="checkbox path float-left">
<input type="checkbox">
<svg viewBox="0 0 21 21">
    <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
</svg>

</label>
<label class="lb-txt">To-Do</label>
<div class="btn-section">
    <input type="submit" name="" value="Schedule" class="d-block other-submit">
    <input type="submit" name="" value="Send" class="d-block other-submit">
</div>
            </div>
            </div>
        </div>
    </div>
</div>

   
</div>

</div>